Source: xsser
Section: admin
Priority: optional
Maintainer: Lord Epsylon <epsylon@riseup.net>
Build-Depends: debhelper (>=7.0.50~), python-support, cdbs (>= 0.4.49)
Standards-Version: 1.1
Homepage: http://xsser.sf.net

Package: xsser
Architecture: all
Depends: python (>=2.5.2), python-pycurl, python-beautifulsoup, python-geoip
Description: cross site scripter framework
 XSSer is an open source penetration testing tool that automates the process
 of detecting and exploiting XSS injections against different applications.
 It contains several options to try to bypass certain filters, and various
 special techniques of code injection. Happy cross hacking :)
